In [1]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/owid-covid-data.csv")
data.head

<bound method NDFrame.head of        iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-01-03          NaN        0.0
1           AFG      Asia  Afghanistan  2020-01-04          NaN        0.0
2           AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
3           AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4           AFG      Asia  Afghanistan  2020-01-07          NaN        0.0
...         ...       ...          ...         ...          ...        ...
343305      ZWE    Africa     Zimbabwe  2023-09-17     265748.0        0.0
343306      ZWE    Africa     Zimbabwe  2023-09-18     265748.0        0.0
343307      ZWE    Africa     Zimbabwe  2023-09-19     265748.0        0.0
343308      ZWE    Africa     Zimbabwe  2023-09-20     265748.0        0.0
343309      ZWE    Africa     Zimbabwe  2023-09-21     265748.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         0.0                  NaN
1                      NaN           NaN         0.0                  NaN
2                      NaN           NaN         0.0                  NaN
3                      NaN           NaN         0.0                  NaN
4                      NaN           NaN         0.0                  NaN
...                    ...           ...         ...                  ...
343305               0.857        5718.0         0.0                  0.0
343306               0.857        5718.0         0.0                  0.0
343307               0.857        5718.0         0.0                  0.0
343308               0.857        5718.0         0.0                  0.0
343309               0.857        5718.0         0.0                  0.0

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
343305  ...          30.7                  36.791                         1.7
343306  ...          30.7                  36.791                         1.7
343307  ...          30.7                  36.791                         1.7
343308  ...          30.7                  36.791                         1.7
343309  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511  41128772.0
1                 64.83                    0.511  41128772.0
2                 64.83                    0.511  41128772.0
3                 64.83                    0.511  41128772.0
4                 64.83                    0.511  41128772.0
...                 ...                      ...         ...
343305            61.49                    0.571  16320539.0
343306            61.49                    0.571  16320539.0
343307            61.49                    0.571  16320539.0
343308            61.49                    0.571  16320539.0
343309            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
343305                                   NaN                          NaN
343306                                   NaN                          NaN
343307                                   NaN                          NaN
343308                                   NaN                          NaN
343309                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
343305               NaN                                      NaN
343306               NaN                                      NaN
343307               NaN                                      NaN
343308               NaN                                      NaN
343309               NaN                                      NaN

[343310 rows x 67 columns]>

In [2]:
data.shape

(343310, 67)

In [3]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
data.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [5]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
data.count()

iso_code                                      343310
continent                                     326992
location                                      343310
date                                          343310
total_cases                                   305500
new_cases                                     333872
new_cases_smoothed                            332613
total_deaths                                  284073
new_deaths                                    333905
new_deaths_smoothed                           332675
total_cases_per_million                       305500
new_cases_per_million                         333872
new_cases_smoothed_per_million                332613
total_deaths_per_million                      284073
new_deaths_per_million                        333905
new_deaths_smoothed_per_million               332675
reproduction_rate                             184817
icu_patients                                   37445
icu_patients_per_million                       37445
hosp_patients                                  38585
hosp_patients_per_million                      38585
weekly_icu_admissions                          10107
weekly_icu_admissions_per_million              10107
weekly_hosp_admissions                         23034
weekly_hosp_admissions_per_million             23034
total_tests                                    79387
new_tests                                      75403
total_tests_per_thousand                       79387
new_tests_per_thousand                         75403
new_tests_smoothed                            103965
new_tests_smoothed_per_thousand               103965
positive_rate                                  95927
tests_per_case                                 94348
tests_units                                   106788
total_vaccinations                             78635
people_vaccinated                              75270
people_fully_vaccinated                        71907
total_boosters                                 46935
new_vaccinations                               64735
new_vaccinations_smoothed                     178761
total_vaccinations_per_hundred                 78635
people_vaccinated_per_hundred                  75270
people_fully_vaccinated_per_hundred            71907
total_boosters_per_hundred                     46935
new_vaccinations_smoothed_per_million         178761
new_people_vaccinated_smoothed                178431
new_people_vaccinated_smoothed_per_hundred    178431
stringency_index                              197651
population_density                            291392
median_age                                    271006
aged_65_older                                 261516
aged_70_older                                 268290
gdp_per_capita                                265590
extreme_poverty                               171133
cardiovasc_death_rate                         266184
diabetes_prevalence                           279733
female_smokers                                199659
male_smokers                                  196941
handwashing_facilities                        130379
hospital_beds_per_thousand                    234967
life_expectancy                               315820
human_development_index                       258004
population                                    343310
excess_mortality_cumulative_absolute           11944
excess_mortality_cumulative                    11944
excess_mortality                               11944
excess_mortality_cumulative_per_million        11944
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343310 entries, 0 to 343309
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    343310 non-null  object
 1   continent                                   326992 non-null  object
 2   location                                    343310 non-null  object
 3   date                                        343310 non-null  object
 4   total_cases                                 305500 non-null  float64
 5   new_cases                                   333872 non-null  float64
 6   new_cases_smoothed                          332613 non-null  float64
 7   total_deaths                                284073 non-null  float64
 8   new_deaths                                  333905 non-null  float64
 9   new_deaths_smoothed                         332675 non-null  float64
 10  total_cases_per_million                     305500 non-null  float64
 11  new_cases_per_million                       333872 non-null  float64
 12  new_cases_smoothed_per_million              332613 non-null  float64
 13  total_deaths_per_million                    284073 non-null  float64
 14  new_deaths_per_million                      333905 non-null  float64
 15  new_deaths_smoothed_per_million             332675 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37445 non-null   float64
 18  icu_patients_per_million                    37445 non-null   float64
 19  hosp_patients                               38585 non-null   float64
 20  hosp_patients_per_million                   38585 non-null   float64
 21  weekly_icu_admissions                       10107 non-null   float64
 22  weekly_icu_admissions_per_million           10107 non-null   float64
 23  weekly_hosp_admissions                      23034 non-null   float64
 24  weekly_hosp_admissions_per_million          23034 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          78635 non-null   float64
 35  people_vaccinated                           75270 non-null   float64
 36  people_fully_vaccinated                     71907 non-null   float64
 37  total_boosters                              46935 non-null   float64
 38  new_vaccinations                            64735 non-null   float64
 39  new_vaccinations_smoothed                   178761 non-null  float64
 40  total_vaccinations_per_hundred              78635 non-null   float64
 41  people_vaccinated_per_hundred               75270 non-null   float64
 42  people_fully_vaccinated_per_hundred         71907 non-null   float64
 43  total_boosters_per_hundred                  46935 non-null   float64
 44  new_vaccinations_smoothed_per_million       178761 non-null  float64
 45  new_people_vaccinated_smoothed              178431 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  178431 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          291392 non-null  float64
 49  median_age                                  271006 non-null  float64
 50  aged_65_older                               261516 non-null  float64
 51  aged_70_older                               268290 non-null  float64
 52  gdp_per_capita                              265590 non-null  float64
 53  extreme_poverty                             171133 non-null  float64
 54  cardiovasc_death_rate                       266184 non-null  float64
 55  diabetes_prevalence                         279733 non-null  float64
 56  female_smokers                              199659 non-null  float64
 57  male_smokers                                196941 non-null  float64
 58  handwashing_facilities                      130379 non-null  float64
 59  hospital_beds_per_thousand                  234967 non-null  float64
 60  life_expectancy                             315820 non-null  float64
 61  human_development_index                     258004 non-null  float64
 62  population                                  343310 non-null  float64
 63  excess_mortality_cumulative_absolute        11944 non-null   float64
 64  excess_mortality_cumulative                 11944 non-null   float64
 65  excess_mortality                            11944 non-null   float64
 66  excess_mortality_cumulative_per_million     11944 non-null   float64
dtypes: float64(62), object(5)
memory usage: 175.5+ MB

In [7]:
a=data['continent']

In [8]:
b=data[['total_cases_per_million','hosp_patients_per_million','icu_patients_per_million','total_tests','positive_rate','total_deaths_per_million']]

In [9]:
c=b.fillna(0)

In [24]:
case=pd.concat([a,c],axis=1)

In [26]:
case.head()

,continent,total_cases_per_million,hosp_patients_per_million,icu_patients_per_million,total_tests,positive_rate,total_deaths_per_million
0,Asia,0.0,0.0,0.0,0.0,0.0,0.0
1,Asia,0.0,0.0,0.0,0.0,0.0,0.0
2,Asia,0.0,0.0,0.0,0.0,0.0,0.0
3,Asia,0.0,0.0,0.0,0.0,0.0,0.0
4,Asia,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
x=case.dropna()

In [35]:
y=x.drop_duplicates()

In [36]:
y.shape

(188179, 7)

In [37]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188179 entries, 0 to 343304
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   continent                  188179 non-null  object
 1   total_cases_per_million    188179 non-null  float64
 2   hosp_patients_per_million  188179 non-null  float64
 3   icu_patients_per_million   188179 non-null  float64
 4   total_tests                188179 non-null  float64
 5   positive_rate              188179 non-null  float64
 6   total_deaths_per_million   188179 non-null  float64
dtypes: float64(6), object(1)
memory usage: 11.5+ MB

first data set -y
related to general outline

In [40]:
print(y)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

part 2 data set

In [43]:
B=data[['population_density','total_vaccinations','people_vaccinated','people_fully_vaccinated','total_boosters']]

In [44]:
C=B.fillna(0)

In [45]:
vac=pd.concat([a,C],axis=1)

In [46]:
vac.head()

,continent,population_density,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters
0,Asia,54.422,0.0,0.0,0.0,0.0
1,Asia,54.422,0.0,0.0,0.0,0.0
2,Asia,54.422,0.0,0.0,0.0,0.0
3,Asia,54.422,0.0,0.0,0.0,0.0
4,Asia,54.422,0.0,0.0,0.0,0.0

In [47]:
X=vac.dropna()

In [48]:
Y=X.drop_duplicates()

In [49]:
Y.shape

(68139, 6)

In [50]:
print(Y)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

two data sets are extracted
1.general view(stored in y)
2.vaccination details(stored in Y(capital letter y))